.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-style: solid;
    line-height: 1;
    border: #333 3px solid;
    border-radius: 50px;
    min-width: 120px;
    transition: 250ms ease;

    &.is-primary {
        background-color: $primary;
        border: $primary 3px solid;

        &:hover {
            background-color: transparent;
            color: $primary;
        }

        &.is-inverted {
            color: $primary;
            background-color: #ffffff;
            border: #333 3px $primary;

            &:hover {
                background-color: $primary;
                border: $primary 3px solid;
                color: #fff;
            }
        }
    }
}