// colors
$brand-blue: #6257e3;
$brand-blue-medium: #4b61f2;
$brand-blue-light: #00eded;
$brand-purple: #a16ae8;
$brand-purple-dark: #521f82;
$brand-green: #9aedb6;
$brand-pink: #f24596;
$brand-black: #4d4d4d;
$primary: $brand-purple;
$secondary: $brand-green;
$site-bg: #f5feff;